@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bookshop</h1>
    <img src="https://wattention.com/wp-content/uploads/2018/04/Books-and-coffee.jpg" />
</div>
